{% extends "placid/_layout" %}

{% set selectedSubnavItem  = 'auth' %}

{% set title = 'Access tokens' %}
{% set docsUrl = 'https://github.com/alecritson/Placid/wiki/Authenticating' %}

{% set oauth = craft.plugins.getPlugin('oauth', false) %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
      <a href="{{ url('placid/auth/new')}}" class="btn submit add icon">Add access token</a>
    </div>
{% endset %}


{% set content %}
  {% if tokens %}
  <table id="fields" class="data fullwidth">
    <thead>
      <tr>
        <th scope="col">{{ "Name"|t }}</th>
        <th scope="col">{{ "Force Query"|t }}</th>
        <th scope="col">{{ "Access token"|t }}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for token in tokens %}
      <tr data-id="{{ token.id }}" data-name="{{ token.name }}">
        <td><a href="{{ url("placid/auth/" ~ token.id) }}">{{ token.name }}</a></td>
        <td><span class="status {{ token.forceQuery ? 'live' : 'disabled' }}"></span> </td>
        <td>
          {% if user.admin %}
            {{ token.encoded_token }}
          {% else %}
            <span class="disabled">Hidden</small>
          {% endif %}
        </td>
        <td><a class="delete icon" title="{{ 'Delete'|t }}"></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <span class="disabled">You haven't added any access tokens</span>
  {% endif %}
{% endset %}
{% set js %}
  new Craft.AdminTable({
    tableSelector: '#fields',
    noObjectsSelector: '#nofields',
    deleteAction: 'placid/token/deleteToken'
  });
{% endset %}
{% includeJs js %}
