{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = request ? request.name : "New Request"|t %}

{% set crumbs = [
    { label: "Placid"|t, url: url('placid') },
    { label: request ? request.name : 'New request', url: url( request ? 'placid/requests/' ~ request.id : 'placid/requests/new') }
] %}


{% block main %}

  <form method="post" action="" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="/admin/placid/{% if request %}requests/{{ request.id }}{% endif %}">
    <input type="hidden" name="action" value="placid/requests/saveRequest">
    <input type="hidden" name="redirect" value="placid" />
    {% if request %}
      <input type="hidden" name="requestId" value="{{ request.id }}" />
    {% endif %}
  
    <div class="grid first">
      
        <div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
          <div class="pane">
            {% include 'placid/requests/_fields' %}
          </div>
        </div>
        <div class="item" data-position="right" data-colspan="1">
          <div id="settings" class="pane">
            {{ forms.lightswitchField({
              label: 'Cache request?',
              name : 'cache',
              on : request ? request.cache : true
            }) }}
            {% if providers|length %}
              {{ forms.selectField({
                label: "Authentication" | t,
                name: 'oauth',
                instructions: 'Select which OAUTH provider to use.',
                options: providers,
                value : request ? request.oauth : null,
              }) }}
            {% endif %}
            {% if accessTokens|length %}
              {{ forms.selectField({
                label: "Basic Authentication" | t,
                name: 'tokenId',
                instructions: 'Select which access token to add to requests',
                options: accessTokens,
                value : request ? request.tokenId : null,
              }) }}
            {% endif %}
            
          </div>
          <div class="buttons first">
            <input type="submit" class="btn submit" value="{{ 'Save Request'|t }}">
          </div>
        </div>
    </div>
  </form>
{% endblock %}

{% set js %}
    new Craft.HandleGenerator('#name', '#handle');
{% endset %}
{% includeJs js %}